<div class="tab-pane fade" id="admin-subscribers">
    <div class="row pb-3">
        <div class="col-12 table-responsive">
            <table class="table">
                <thead class="thead-light">
                    <tr class="table-active">
                        <th class="align-middle">Date</th>
                        <th class="align-middle">Email</th>
                    </tr>
                </thead>
                <tbody>
                    <% subscribers.forEach(subscriber => { %>
                        <tr>
                            <td style="width:25%;" class="align-middle"><%= subscriber.createdAt ? subscriber.createdAt.toLocaleString() : ""%></td>
                            <td style="width:75%;" class="align-middle"><%= subscriber.email ? subscriber.email : "" %></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>