<div class="tab-pane fade" id="admin-images">
    <div class="row pb-3">
        <div class="col-12">
            <div class="row py-2">
                <% images.forEach(image => { %>
                    <div class="col-auto p-2 position-relative">
                        <!-- <a class="btn btn-sm btn-danger image-remove" href="<%=`/image/${image._id}/remove`%>">x</a> -->
                        <a href="<%=`/admin/image/${image._id}` %>"><img class="img-thumbnail" style="width: 100px; height: 100px; object-fit: cover;" src="<%= image.url %>" alt="<%= image.alt %>"></a>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>