<div class="tab-pane fade" id="admin-images">
    <div class="row pb-3">
        <div class="col-12">
            <div class="row pb-3 justify-content-end">
                <div class="col-auto">
                    <a role="button" class="btn btn-primary btn-sm" href="<%=`/admin/product/create`%>">+ Upload Image</a>
                </div>
            </div>
            <div class="row py-2">
                <% images.forEach(image => { %>
                    <div class="col-auto p-2">
                        <img class="img-thumbnail" style="width: 100px; height: 100px; object-fit: cover;" src="<%= image.url %>" alt="<%= image.alt %>">
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>