<div class="tab-pane fade active show" id="admin-dashboard">
    <div class="row pb-3">
        <div class="col-12 table-responsive">
            <div class="row pb-3">
                <div class="col-3">
                    <a class="btn btn-success w-100" href="#orders">Orders</a>
                </div>
                <div class="col-3">
                    <a class="btn btn-success w-100" href="#products">Products</a>
                </div>
                <div class="col-3">
                    <a class="btn btn-success w-100" href="#categories">Categories</a>
                </div>
                <div class="col-3">
                    <a class="btn btn-success w-100" href="#variations">Variations</a>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <a class="btn btn-success w-100" href="#images">Images</a>
                </div>
                <div class="col-3">
                    <a class="btn btn-success w-100" href="#contacts">Contacts</a>
                </div>
                <div class="col-3">
                    <a class="btn btn-success w-100" href="#subscribers">Subscribers</a>
                </div>
                <div class="col-3">
                    <a class="btn btn-success w-100" href="#users">Users</a>
                </div>
            </div>
        </div>
    </div>
</div>