
<div class="container light-style flex-grow-1 container-p-y py-5">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a  href="/admin">Admin Panel</a></li>
            <li class="breadcrumb-item"><a  href="/admin#images">Image</a></li>
            <li class="breadcrumb-item active" aria-current="page"><%= image.title %></li>
        </ol>
    </nav>

    <div class="card overflow-hidden">
        <div class="row no-gutters row-bordered row-border-light px-3 py-4">
            <div class="col-md-2 pt-0">
                <div class="nav flex-column nav-pills me-3" id="v-pills-tab">
                    <button class="nav-link active" data-tab="details" id="details-tab" data-bs-toggle="pill" data-bs-target="#image-details" type="button">Details</button>
                    <button class="nav-link" data-tab="delete" id="delete-tab" data-bs-toggle="pill" data-bs-target="#image-delete" type="button">Delete</button>
                </div>
            </div>
            <div class="col-md-10">
                <div class="tab-content h-100" id="v-pills-tabContent">
                    
                    <%- include('image-details') %>
                    <%- include('image-remove') %>

                </div>
            </div>
        </div>
    </div>

</div>