<div class="tab-pane fade h-100" id="account-logout">
    <div class="row pb-3">
        <h4>Are you sure you want to log out?</h4>
        <div class="form-group col-8 py-2">
            <a class="btn btn-danger btn-lg px-3" href="/account/logout">Confirm and Logout</a>
        </div>
    </div>
</div>