<div class="tab-pane fade active show" id="variation-details">
    <form action="<%= `/variation/${variation ? 'update' : 'create'}` %>" method="POST" role="form" class="row">
        <h2 style="text-align: center;"><%= variation ? "Update Variation" : "Create Variation" %></h2>
        <%- include('variation-form') %>
    </form>
</div>