<div class="row align-items-center" style="min-height: 50vh">
    <div class="col-md-12">
        <div>
            <div class="col-sm-12 empty-cart-cls text-center"> 
                <h3><strong>Your Cart is Empty</strong></h3>
                <h4>Check out our great products here:</h4> <a href="/shop" class="btn btn-primary cart-btn-transform m-3" data-abc="true">Start Shopping</a>
            </div>
        </div>
    </div>
</div>