
<div class="container light-style flex-grow-1 container-p-y py-5">

    <h4 class="font-weight-bold py-3 mb-4">
        <a class="h4" style="color:inherit; font-size: inherit !important; font-weight: inherit !important;" href="/admin">Admin Panel</a> > Product
    </h4>

    <div class="card overflow-hidden">
        <div class="row no-gutters row-bordered row-border-light px-3 py-4">
            <div class="col-md-2 pt-0">
                <div class="nav flex-column nav-pills me-3" id="v-pills-tab">
                    <button class="nav-link active" id="product-details-tab" data-bs-toggle="pill" data-bs-target="#product-details" type="button">Details</button>
                    <button class="nav-link" id="product-images-tab" data-bs-toggle="pill" data-bs-target="#product-images" type="button">Images</button>
                </div>
            </div>
            <div class="col-md-10">
                <div class="tab-content h-100" id="v-pills-tabContent">
                    
                    <%- include('product-details') %>
                    <%- include('product-images') %>

                </div>
            </div>
        </div>
    </div>

</div>