<div class="tab-pane fade h-100" id="product-delete">
    <div class="row pb-3">
        <h4>Are you sure you want to <b>permanently remove</b> this product?</h4>
        <form action="<%= `/product/${product.slug}/remove` %>" method="POST" role="form">
            <div class="form-group col-8 py-2">
                <button type="submit" class="btn btn-danger btn-lg px-3">Confirm and Delete</button>
            </div>
        </form>
    </div>
</div>